<!DOCTYPE html >
<html>
  <head>
        <title>{{title}}</title>
        <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" media="screen">
        <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery.js"></script>
  </head>

  <body>
   <div class="container">

    <!--<h1>42 Coffee Cups Test Assignment</h1>-->

<hr>

{%block content%}

{%endblock%}
       <hr>
       <!-- default bootstrap <hr> css looks better =)
       <hr style="border: 1px solid #000000;" >-->
<div class="col-md-4" style="text-align: center"><a href="{% url 'requests' %}">Show Requests</a></div>
<div class="col-md-4" style="text-align: center"><a href="{% url 'settings' %}">Show Settings</a></div>
<div class="col-md-4" style="text-align: center"><a href="{% url 'main' %}">Go Home</a></div>



    </div>
  </body>
</html>