{% extends "base.html" %}

{%block content %}

<div class="row">

    <div align="right">
             {% if user.is_authenticated %}
    <p>Welcome {{ user.username }}</p>
  {% else %}
    <p><a href="{% url 'django.contrib.auth.views.login' %}?next=/">Login</a> </p>
{% endif %}

    </div>
        {% for object in person %}
  <div class="col-md-6">
      <p><b>Name </b> {{ object.name }}</p>
      <p><b>Last name </b>{{ object.last_name }}</p>
      <p><b>Date of birth </b>{{ object.date_of_birth }}</p>
      <p><b>Photo:</b></p>
      {% if object.photo %}
      <p><img src="{{object.photo.url}}" width="300" height="400" style="border: 2px solid #000000;"> </p>
      {% endif %}



  </div>
  <div class="col-md-6">
      <p><b>Contacts </b>{{ object.contacts }}</p>
      <p><b>Email: </b>{{ object.email }}</p>
      <p><b>Jabber: </b>{{ object.jabber }}</p>
      <p><b>Skype: </b>{{ object.skype }}</p>
      <p><b>Other contacts: </b>{{ object.other_contacts }}</p>
      <p><b>Bio </b>{{ object.bio }}</p>
       </div>
    </div>

    <div class="row">
      <div class="col-md-6">

      </div>
      <div class="col-md-6">

      <form action="{% url 'update_bio' object.id  %}">
               <button class="btn btn  btn-success">Update info</button>
           </form></div>


    </div>
{%endfor%}

{% endblock %}
